@page "/UpdateGenre/{id:int}"
@using BookStore.Data;
@using BookStore.Data.Repositories.Admin;
@using BookStore.Entities;
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<DataContext> ContextFactory;

<AuthorizeView Roles="Admin">
    <Authorized Context="AuthContext">


        <EditForm Model="_updatedGenre" OnValidSubmit="UpdateGenreAsync">

            <div class="form-control d-flex flex-column m-auto p-5 m-3" style="max-width:900px">

                <h4>Add a new genre</h4>
                <DataAnnotationsValidator />
                <ValidationSummary />

                @*Genre Name*@
                <label for="name" class="form-label"> Name</label>
                <InputText id="name" class="form-input form-control" @bind-Value="_updatedGenre.Name" />
                <ValidationMessage For="@(() => _updatedGenre.Name)" />

                @*Description*@
                <label for="description" class="form-label"> Description</label>
                <InputText id="description" class="form-input form-control" @bind-Value="_updatedGenre.Description" />
                <ValidationMessage For="@(() => _updatedGenre.Description)" />

                @*IsFiction*@
                <div class="d-flex flex-row gap-5  mt-3">
                    <label for="description" class="form-label"> Is Fiction?</label>
                    <InputCheckbox id="description" class="form-check  " @bind-Value="_updatedGenre.IsFiction" />
                    <ValidationMessage For="@(() => _updatedGenre.IsFiction)" />
                </div>


            </div>
            <div class="w-100 text-center p-5"> <button class="btn btn-success btn-lg">Save Genre</button></div>
            <div class=" w-100 text-center p-5">
                <div class="alert-success"> @validationMessage</div>
            </div>
        </EditForm>
    </Authorized>

    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int id { get; set; }

    Genre _updatedGenre = new();

    protected override async Task OnInitializedAsync()
    {
        using (var repo = new GenreRepository(ContextFactory.CreateDbContext()))
        {
            _updatedGenre = await repo.GetGenreByIdAsync(id);
        }
    }

    string validationMessage = "";
    async Task ResetValidationMessage()
    {
        await Task.Delay(3000);
        validationMessage = "";
        await InvokeAsync(StateHasChanged);
    }

    async Task UpdateGenreAsync()
    {
        using (var repo = new GenreRepository(ContextFactory.CreateDbContext()))
        {
            await repo.UpdateGenreAsync(_updatedGenre);
        }

        validationMessage = "Genre updated succesfully";
        await InvokeAsync(StateHasChanged);

        await ResetValidationMessage();

    }

}
