#top-nav {
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 50px;
    border-bottom: solid 1px gray;
}

a {
    text-decoration: none;
}

.nav-group {
    display: flex;
    column-gap: 80px;
}


#brand {
    justify-content: start;
}

#accounts {
    justify-content: end;
    padding-inline-end:80px;
}

.fs-small {
    font-size: 12px;
}

.fs-normal {
    font-size: 14px;
}

.fs-big {
    font-size: 16px;
}

.icon {
    font-size: 18px;
    color: #231b11;
    transition: all 0.3s;
}
    .icon:hover {
        transform: scale(1.1);
        color: #e8a24c;
        transition: all 0.3s;
    }
    .icon:active {
        transform: scale(0.95);
        color: #14100c;
        transition: all 0.3s;
    }
