@inherits LayoutComponentBase

<PageTitle>BookStore</PageTitle>


<div id="top-nav" class="fs-big">


    <div id="brand-genres" class="nav-group ">
        <a href="" id="brand">Bookstore</a>
    </div>

    <div id="accounts" class="nav-group">

        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="">
                    <div @onclick="ToggleAdminDropDown" role="button" class="dropdown-toggle">
                        Admin
                        @if (isAdminDropdownOpen)
                        {
                            <div class="dropdown-menu drppdwon-menu-right show position-absolute">
                                <a class="dropdown-item" href="ManageBooks">Manage Books </a>
                                <a class="dropdown-item" href="ManageAuthors">Manage Authors </a>
                                <a class="dropdown-item" href="ManageGenres">Manage Genres</a>
                            </div>
                        }
                    </div>

                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>

                <div class="">
                    <a class="" href="">
                        <i class="oi oi-cart"></i>
                    </a>
                </div>
                <div class="">
                    <a class="" href="Identity/Account/Logout">
                        <i class="oi oi-account-logout"></i>
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="">
                    <a class="" href="Identity/Account/Login">
                        <i class="oi oi-person"></i>
                    </a>
                </div>

            </NotAuthorized>
        </AuthorizeView>
    </div>

</div>

<main>
    @Body
</main>

@code {
    private bool isAdminDropdownOpen = false;
    private void ToggleAdminDropDown()
    {
        isAdminDropdownOpen = !isAdminDropdownOpen;
    }

}