#top-nav
{
    position:relative;
    top:0;
    display:flex;
    justify-content:space-between;
    padding-block:10px;
    padding-inline:50px;
    border-bottom:solid 1px gray;

    
}

a{
    text-decoration:none;

}

.nav-group {
    display: flex;
    gap:30px;
}


#brand-genres {
    
    justify-content: start;
}

#accounts {
    justify-content: end;
}

.fs-small {
    font-size: 12px;
}

.fs-normal {
    font-size: 14px;
}

.fs-big {
    font-size: 16px;
}





