@typeparam TEntity


<div class="d-flex flex-row gap-3 px-3">
    <input class="form-control form-control-sm" style="max-width:400px;  font-size:12px" placeholder="Search..."
           @bind="searchItem"/>

    <button class="btn btn-sm btn-success" style="max-width:300px ; font-size:12px"
            @onclick=OnSearchClicked>
       <span class="oi oi-magnifying-glass fs-6"></span> Search
    </button>
</div>





@code {
    [Parameter]
    public List<TEntity> Items { get; set; }

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private string searchItem;

    private async Task OnSearchClicked()
    {
        await OnSearch.InvokeAsync(searchItem);
    }

}